<div class="block">       
  <div class="content">
	<div class="content-header">
		<h2><%= t("application.edit", :default => "Edit") %> <%= t("activerecord.models.note", :default => "Note").downcase %> <%= t "application.about" %> <%= link_to @note.contact.name, @note.contact %></h2>
	</div>
    <div class="inner">
        <%= render :partial => "form" %>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
	<div class="block notice">
		<ul class="navigation">
			<li class="last"><%= link_to t("application.note.back_to_contact"), @note.contact %></li>
		</ul>
	</div>
<% end %>