<h1>Listing ele_candidates</h1>

<table>
  <tr>
    <th>Cd eleicao</th>
    <th>Nr cand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ele_candidates.each do |ele_candidate| %>
  <tr>
    <td><%= ele_candidate.cd_eleicao %></td>
    <td><%= ele_candidate.nr_cand %></td>
    <td><%= link_to 'Show', ele_candidate %></td>
    <td><%= link_to 'Edit', edit_ele_candidate_path(ele_candidate) %></td>
    <td><%= link_to 'Destroy', ele_candidate, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ele candidate', new_ele_candidate_path %>
