<div id="distribuicao_ue">

   <% if @distribuicao_ue %>
   <table id="hor-zebra" border="0" cellpadding="0" cellspacing="0" width="100%" class="zonas">
      <thead>
	      <tr>
	         <th scope="col" colspan="5" class="divide" >Cadastro Eleitoral</th>
	         <th scope="col" colspan="2" class="divide" ><%= @eleicao.nome_abreviado %></th>
	         <th scope="col" colspan="2" class="divide" >UEs</th>
	         <th scope="col" colspan="1" rowspan="2" ><strong>Total</strong></th>
	      </tr>
         <tr>
            <th scope="col">Zona</th>
            <th scope="col" style="padding-left: 50px; padding-right: 50px;">Município</th>
            <th scope="col">Locais</th>
            <th scope="col" style="padding-left: 50px; padding-right: 50px;">Seções</th>
            <th scope="col" class="divide" style="padding-left: 50px; padding-right: 50px;" >Eleitorado</th>

            <th scope="col">Agregas</th>
            <th scope="col" class="divide" >MRJ</th>
            <th scope="col">de Seção</th>

            <th scope="col" class="divide" >de Reserva (25%)</th>
         </tr>
      </thead>
      <tbody>
      
      <% @eleicao.zonas.each_with_index do |zona, indice_zona| %>
      
         <% municipios = @eleicao.municipios_por_zona(zona) %>
         
         <tr <%= "class='odd'" if indice_zona%2==0 %> >
            <td class="ultimo" rowspan='<%= "#{municipios.size}" %>' >
               <big><strong><%= zona.numero_bonito %></strong></big>
            </td>

  	         <% municipios.each_with_index do |municipio, index| %>

               <% sede = index == 0? 'sede ': '' %>
               <% ultimo = index == municipios.size-1? 'ultimo ': '' %>

               <% logistica_municipio = @logistica["ze"]["#{zona.numero_bonito}"]["mun"]["#{municipio.numero}"] %>

                  <td class="<%= ultimo+sede %>" >
                     <%= municipio.nome %><br/>(<%= municipio.numero %>)
   		         </td>
   		         
   		         <td class="<%= ultimo %>" >
   		            <%= (locais = Place.por_zona(zona.numero).por_municipio(municipio.numero).ativos).size %>
   		            <% @total_locais += locais.size %>
   		         </td>
   		         
   		         <td class="<%= ultimo %>" >
                     <% numero_secoes(zona,municipio).each do |secao| %>
                        <%= secao %><br /><br />
                     <% end %>
   		         </td>

   		         <td class="divide <%= ultimo %>" >

                     <% matriz_local_eleitorado(zona, municipio).each do |local| %>
                        <%= local %><br /><br />
                     <% end %>

                     <strong><%= @total_eleitores %></strong>
   		         </td>
   		         
   		         <td class="<%= ultimo %>" >
                     <%= numero_agregacoes_efetivas(zona,municipio) %>
   		         </td>
   		         
   		         <td class="divide <%= ultimo %>" >
   		            <%= numero_mrjs(zona,municipio) %>
   		         </td>

   		         <td class="<%= ultimo %>" >
   		            <%= numero_urnas_de_secao(zona.numero) %>
   		         </td>
   		         
     		         <td class="divide <%= ultimo %>" >
   		            <%= numero_urnas_de_contingencia(zona.numero) %>
   		         </td>
   		         
  		            <td class="<%= ultimo %>">
  		               <strong><%= @urnas_por_zona[zona.numero] if index==municipios.size-1 %></strong>
  		            </td>
                  
  		            <% if index != municipios.size-1 %>
     		            </tr>
     		            <tr <%= "class='odd'" if indice_zona%2==0 %> >
  		            <% end %>

     		   <% end %>
         </tr>
      <% end %>

         <tr>
            <td><strong><%= @eleicao.zonas.size %></strong></td>
            <td><strong><%= @eleicao.municipios.size %></strong></td>
            <td><strong><%= number_with_delimiter(@total_locais, :delimiter => ".") %></strong></td>
            <td><strong><%= number_with_delimiter(@total_secoes, :delimiter => ".") %></strong></td>
            <td><strong><%= number_with_delimiter(@total_eleitores, :delimiter => ".") %></strong></td>
	         <td><strong><%= @total_agregacoes %></strong></td>
	         <td><strong><%= @total_mrjs %></strong></td>
	         <td colspan="3">
	            <strong>
	            <%= number_with_delimiter(@total_urnas_de_secao + @total_urnas_de_contingencia, :delimiter => ".") %>
	            </strong>
	         </td>
         </tr>
      </tbody>
   </table>
   <% end %>
   
   <% Rails.logger.info("==>> #{@logistica.inspect}") %>
</div>
