<div id="distribuicao_ue">

   <% if @distribuicao_ue %>
   
   <h3>Distribuição de Urnas Eletrônicas</h3>
   
   <table id="hor-zebra" border="0" cellpadding="0" cellspacing="0" width="100%" class="zonas">
      <thead>
	      <tr>
	         <th scope="col" colspan="5" class="divide" >Cadastro Eleitoral</th>
	         <th scope="col" colspan="2" class="divide" ><%= @eleicao.nome_abreviado %></th>
	         <th scope="col" colspan="4">UEs</th>
	      </tr>
         <tr>
            <th scope="col">Zona</th>
            <th scope="col">Município</th>
            <th scope="col">Locais</th>
            <th scope="col">Seções</th>
            <th scope="col" class="divide">Eleitorado</th>

            <th scope="col">Agregas</th>
            <th scope="col" class="divide" >MRJ</th>
            <th scope="col">Seção</th>
            <th scope="col">Reserva</th>
            <!--th scope="col" class="divide">Modelo</th-->
  	         <th scope="col" colspan="1" ><strong>Total</strong></th>
         </tr>
      </thead>
      <tbody>
      
      <% @eleicao.zonas.each_with_index do |zona, indice_zona| %>
      
         <% municipios = @eleicao.municipios_por_zona(zona) %>
         
         <tr <%= "class='odd'" if indice_zona%2==0 %> >
            <td class="ultimo" rowspan='<%= "#{municipios.size}" %>' >
               <big><strong><%= zona.numero_bonito %></strong></big>
            </td>

  	         <% municipios.each_with_index do |municipio, index| %>

               <% sede = index == 0? 'sede ': '' %>
               <% ultimo = index == municipios.size-1? 'ultimo ': '' %>

               <% logistica_municipio = @logistica["ze"][zona.numero]["mun"][municipio.numero] %>

                  <td class="<%= ultimo+sede %>" >
                     <%= municipio.nome %><br/>(<%= municipio.numero %>)
   		         </td>
   		         
   		         <td class="<%= ultimo %>" >
   		            <%#= (locais = Place.por_zona(zona.numero).por_municipio(municipio.numero).ativos).size %>
   		            <%= locais = logistica_municipio["local"].size %>
   		         </td>
   		         
   		         <td class="<%= ultimo %>" >
                     <%# lista_numero_secoes_por_local(zona,municipio).each do |secao| %>
                        <%#= secao %><!--br /><br /-->
                     <%# end %>
                     
                     <strong>
                        <%#= numero_secoes(zona,municipio) %>
                        <%= logistica_municipio["secoes"] %>
                     </strong>
   		         </td>

   		         <td class="divide <%= ultimo %>" >

                     <%# matriz_local_eleitorado(zona, municipio).each do |local| %>
                        <%#= local %><!--br /><br /-->
                     <%# end %>

                     <%= numero logistica_municipio["eleitorado"] %>
   		         </td>
   		         
   		         <td class="<%= ultimo %>" >
                     <%#= numero_agregacoes_efetivas(zona,municipio) %>
                     <%= logistica_municipio["agregas"] %>
   		         </td>
   		         
   		         <td class="divide <%= ultimo %>" >
   		            <%= @log_mrj[ @ul.index([zona.numero,municipio.numero]) ][2] %>
   		         </td>

   		         <td class="<%= ultimo %>" >
   		            <%#= numero_urnas_de_secao(zona,municipio) %>
   		            <%= logistica_municipio["ue"] %>
   		         </td>
   		         
     		         <td class="<%= ultimo %>" >
   		            <%#= numero_urnas_de_contingencia(zona,municipio) %>
   		            <%= logistica_municipio["uer"] %>
   		         </td>
   		         
     		         <% if index == 0 %>
     		         <!--td class="divide ultimo" rowspan='<%= "#{municipios.size}" %>' -->
   		            <%#= @logistica["ze"][zona.numero]["ues_por_modelo"] %>
   		         <!--/td-->
     		         
  		            <td class="ultimo" rowspan='<%= "#{municipios.size}" %>' >
  		               <strong>
  		                  <%#= @ue[zona.numero]+@uer[zona.numero] if index==municipios.size-1 %>
  		                  <% ue_a_enviar = 0 %>
  		                  <% @logistica["ze"][zona.numero]["mun"].each do |nmun, log_mun| %>
  		                     <% ue_a_enviar += log_mun["ue"]+log_mun["uer"]+@log_mrj[ @ul.index([zona.numero, municipio.numero]) ][2] %>
  		                  <% end %>
  		                  <%= ue_a_enviar %>
  		               </strong>
  		            </td>
  		            <% end %>
                  
  		            <% if index != municipios.size-1 %>
     		            </tr>
     		            <tr <%= "class='odd'" if indice_zona%2==0 %> >
  		            <% end %>

     		   <% end %>
         </tr>
      <% end %>

         <tr>
            <td><strong><%= @eleicao.zonas.size %></strong></td>
            <td><strong><%= @eleicao.municipios.size %></strong></td>
            <td><strong><%= numero @logistica["locais"] %></strong></td>
            <td><strong><%= numero @logistica["secoes"] %></strong></td>
            <td><strong><%= numero @logistica["eleitorado"] %></strong></td>
	         <td><strong><%= @logistica["agregas"] %></strong></td>
	         <td><strong><%= @log_mrj[0][2] %></strong></td>
	         <td>
	            <strong>
	            <%= numero @logistica["ue"] %>
	            </strong>
	         </td>
	         <td>
	            <strong>
	            <%= numero @logistica["uer"] %>
	            </strong>
	         </td>
	         <td>
	            <strong>
	            <%= numero(@logistica["ue"]+@logistica["uer"]+@log_mrj[0][2]) %>
	            </strong>
	         </td>
         </tr>
      </tbody>
   </table>
   <% end %>
   
   <%# Rails.logger.info("==>> #{@logistica.inspect}") %>
</div>
