<% content_for :javascript do %>

   $(function(){
  
      $("#ue_html").click(function () {
         $("#tabua").html('');
         $("#limpa").css('display','none');
         $("#painel").css('display','block');
         $("#distribuicao_tu_pdf").css("display","none");
         $("#distribuicao_ue_pdf").css("display","none");
         $("#distribuicao_me_pdf").css("display","none");
         $("#distribuicao_lacres_pdf").css("display","none");
         $("#carregando").css('display','block');
      });

      $("#tu_html").click(function () {
         $("#tabua").html('');
         $("#limpa").css('display','none');
         $("#painel").css('display','block');
         $("#distribuicao_ue_pdf").css("display","none");
         $("#distribuicao_tu_pdf").css("display","none");
         $("#distribuicao_me_pdf").css("display","none");
         $("#distribuicao_lacres_pdf").css("display","none");
         $("#carregando").css('display','block');
      });
      
      $("#me_html").click(function () {
         $("#tabua").html('');
         $("#limpa").css('display','none');
         $("#painel").css('display','block');
         $("#distribuicao_ue_pdf").css("display","none");
         $("#distribuicao_tu_pdf").css("display","none");
         $("#distribuicao_me_pdf").css("display","none");
         $("#distribuicao_lacres_pdf").css("display","none");
         $("#carregando").css('display','block');
      });
      
      $("#lacres_html").click(function () {
         $("#tabua").html('');
         $("#limpa").css('display','none');
         $("#painel").css('display','block');
         $("#distribuicao_ue_pdf").css("display","none");
         $("#distribuicao_tu_pdf").css("display","none");
         $("#distribuicao_me_pdf").css("display","none");
         $("#distribuicao_lacres_pdf").css("display","none");
         $("#carregando").css('display','block');
      });

   });
<% end %>


<div id="informacoes">

	<% if @eleicao_escolhida %>
   	<h3><%= @eleicao_escolhida.nome %></h3>
      <p><strong>Data:</strong> <%= l @eleicao_escolhida.data, :format => :extenso %></p>
      
      <hr style="clear: both" />
      
      <span style="float: left; clear: none;" >Distribuição de Urnas Eletrônicas:</span>
      <div class="botoes">
         <%= form_for @eleicao,
            :url => {:action => "distribuicao_ue" },
            :html => {:id => "distribuicao_ue_html" },
			   :remote => true, 
			
	          do |ele| %>
	            <%= ele.hidden_field :id, {:value => @eleicao_escolhida.id} %>
               <%= ele.submit "Gerar", { :id => "ue_html", :class => "ui-button" } %>
         <% end %>
      </div>

      <br style="clear: both;" />
      <br style="clear: both;" />

      <span style="float: left; clear: none;" >Distribuição de Técnicos de Urna:</span>
      <div class="botoes">
         <%= form_for @eleicao,
            :url => {:action => "distribuicao_tu" },
            :html => {:id => "distribuicao_tu_html" },
			   :remote => true,
			   
	          do |ele| %>
	            <%= ele.hidden_field :id, {:value => @eleicao_escolhida.id} %>
               <%= ele.submit "Gerar", { :id => "tu_html", :class => "ui-button" } %>
         <% end %>
     </div>
     
     <br style="clear: both;" />
     <br style="clear: both;" />

     <span style="float: left; clear: none;" >Distribuição de Materiais Eleitorais:</span>
     <div class="botoes">
         <%= form_for @eleicao,
            :url => {:action => "distribuicao_me" },
            :html => {:id => "distribuicao_me_html" },
			   :remote => true,
			   
	          do |ele| %>
	            <%= ele.hidden_field :id, {:value => @eleicao_escolhida.id} %>
               <%= ele.submit "Gerar", { :id => "me_html", :class => "ui-button" } %>
         <% end %>
     </div>

     <br style="clear: both;" />
     <br style="clear: both;" />
     
     <span style="float: left; clear: none;" >Distribuição de Lacres e Etiquetas:</span>
     <div class="botoes">
         <%= form_for @eleicao,
            :url => {:action => "distribuicao_lacres" },
            :html => {:id => "distribuicao_lacres_html" },
			   :remote => true,
			   
	          do |ele| %>
	            <%= ele.hidden_field :id, {:value => @eleicao_escolhida.id} %>
               <%= ele.submit "Gerar", { :id => "lacres_html", :class => "ui-button" } %>
         <% end %>
     </div>    
           
     <br style="clear: both;" />


	<% end %>

   <!--p><%#= link_to "pdf", oficiais_path(:action => 'distribuicao_ue', :format => "pdf") %></p-->
   
</div>

