<% content_for :javascript do %>
   
   $(function(){
   
      $("#select_eleicao").change(function () {
         $("#troca_eleicao").submit();
      });
   });
	
<% end %>

<div class="block">
	<div class="content"> 
		<div class="content-header" style="min-height: 30px">
		   <div style="float:left">
         <%= form_for @eleicao,
            :url => {:action => "eleicao"},
            :remote => true,
            :html => {:id => "troca_eleicao", :class => "inline" },
			
	          do |ele| %>
               <strong><%= ele.label :id, "Eleição Oficial: ", {} %></strong>
               <%= ele.select :id, @eleicoes.collect{ |x| [x.nome_abreviado, x.id]}, {}, { :id => "select_eleicao" } %>
         <% end %>
         </div>                  
		</div>

		<div class="inner">

         <%= render :partial => "informacoes" %>

         <%= render :partial => "distribuicao_ue" %>

		</div>
   </div>
</div>
