<table class="table">
	<tr>             
		<th class="first">ID</th>
		<th>
			<%= t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name")) %>
		</th>
		<th><%= t("activerecord.attributes.user.email", :default => "E-mail")  %></th>
		<th class="last">&nbsp;</th>
	</tr>
	<% @users.each do |user| -%>
	<tr class="<%= cycle("odd", "even") %>">
		<td>
			<%= user.id %>
		</td>
		<td>
			<%= link_to user.name, user_path(user) %>
		</td>
		<td>
			<%= user.email %>
		</td>
		<td class="last">
			<%= link_to "#{t("application.show", :default => "Show")}", user_path(user) %> |
			<%= link_to "#{t("application.edit", :default => "Edit")}", edit_user_path(user) %> |
			<%= link_to "#{t("application.delete", :default => "Delete")}", user_path(user), :method => :delete, :confirm => "#{t("application.confirm", :default => "Are you sure?")}" %>
		</td>
	</tr>          
	<% end -%>
</table>