<%= content_for :javascript do %>
	$(function() {
		
		$(".city_autocomplete").autocomplete({
			minLength: 0,
			selectFirst: true,
			source: "<%= search_city_path %>"
		});

		$("form#new_contact :input:visible:enabled:first").focus();
	});
<% end %>

<div class="block">          
  <div class="content">
	
	<div class="content-header">    
	    <h2 class="title"><%= t("application.preferences", :default => "Preferences")  %> &raquo; <%= t("application.edit_profile", :default => "Edit profile")  %></h2>
	</div>
	
    <div class="inner">
		<%= semantic_form_for @user, :html => { :multipart => true } do |form| %>

			<%= form.inputs :class => "column fancy_form fancy_fields" do %>
				<%= form.input :name %>
				<%= form.input :email, :as => :string %>
				<%= form.input :phone, :as => :string %>
			<% end %>

			<%= form.inputs :id => "address_replace", :class => "column fancy_form address_fields defaultvalue" do %>
				<li class="text optional">
					<%= form.label :address %>
					<%= form.text_area :address, :rows => 2, :rel => "#{t("activerecord.attributes.contact.address")}" %>
				</li>
				<li class="string optional three_fields">
				<label></label>
				<%= form.text_field :zip_code, :rel => "#{t("activerecord.attributes.contact.zip_code")}" %>
				<%= form.text_field :city, :class => "city_autocomplete", :autocomplete => :off, :rel => "#{t("activerecord.attributes.contact.city")}" %>
				<%= form.text_field :state, :rel => "#{t("activerecord.attributes.contact.state")}" %>
				</li>
				<hr />
			<% end %>
			
			<div class="group navform wat-cf">
			  <%= submit_button %>
			</div>
		<% end %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => "preferences/sidebar") %>