<% semantic_form_for [@contact, @request] do |form| %>

	<%= form.inputs :class => "column_left" do %>
		<%= form.input :description, :input_html => { :rows => 5 } %>
	<% end %>
	
	<%= form.inputs :class => "column_right" do %>
		<%= form.input :deadline %>
		<%= form.input :completed %>
	<% end %>
	
	<fieldset></fieldset>
	<hr />
	<div class="group navform wat-cf">
	  <%= submit_button :back => contact_requests_path(@contact) %>
	</div>
<% end %>
