<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @request.deadline %>
</p>

<p>
  <b>Completed:</b>
  <%= @request.completed %>
</p>


<%= link_to 'Edit', edit_contact_request_path(@request) %> |
<%= link_to 'Back', contact_requests_path %>
