<h1>Listando Municípios do Mato Grosso</h1>

<% i = 1 %>

<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Número TSE</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= i %></td>
    <td><%= city.nome %></td>
    <td><%= city.numero %></td>
    <td><%= link_to 'Mostrar', city %></td>
  </tr>
  
  <% i = i+1 %>
<% end %>
</table>

<h2>Outros de Mato Grosso</h2>
<% i = 1 %>

<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Número TSE</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outros.each do |city| %>
  <tr>
    <td><%= i %></td>
    <td><%= city.nome %></td>
    <td><%= city.numero %></td>
    <td><%= link_to 'Mostrar', city %></td>
  </tr>
  
  <% i = i+1 %>
<% end %>
</table>

<h2>Desativados</h2>

<% i = 1 %>

<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Número TSE</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @desativados.each do |city| %>
  <tr>
    <td><%= i %></td>
    <td><%= city.nome %></td>
    <td><%= city.numero %></td>
    <td><%= link_to 'Mostrar', city %></td>
  </tr>
  
  <% i = i+1 %>
<% end %>
</table>


<br />
