<p id="notice"><%= notice %></p>

<p>
  <b>Cod objeto:</b>
  <%= @cad_neighborhood.cod_objeto %>
</p>

<p>
  <b>Situacao:</b>
  <%= @cad_neighborhood.situacao %>
</p>

<p>
  <b>Nom bairro:</b>
  <%= @cad_neighborhood.nom_bairro %>
</p>

<p>
  <b>Cod objeto localidade:</b>
  <%= @cad_neighborhood.cod_objeto_localidade %>
</p>

<p>
  <b>Cod objeto sub localidade:</b>
  <%= @cad_neighborhood.cod_objeto_sub_localidade %>
</p>

<p>
  <b>Cod objeto bairro ect:</b>
  <%= @cad_neighborhood.cod_objeto_bairro_ect %>
</p>

<p>
  <b>Tip associacao:</b>
  <%= @cad_neighborhood.tip_associacao %>
</p>

<p>
  <b>Origem:</b>
  <%= @cad_neighborhood.origem %>
</p>


<%= link_to 'Edit', edit_cad_neighborhood_path(@cad_neighborhood) %> |
<%= link_to 'Back', cad_neighborhoods_path %>
