<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("application.list", :default => "List")}", categories_path  %></li>
      <li><%= link_to "#{t("application.new", :default => "New")}", new_category_path %></li>
    </ul>
  </div>          
  <div class="content">
	<div class="control">
		<%= link_to_new(Category) %>
	</div>      
    <h2 class="title"><%= t("activerecord.models.category", :default => "categories").pluralize  %></h2>
    <div class="inner">
		<div id="data_view">
			<%= render :partial => "table" %>
		</div>
		<%= form_tag(categories_path, :remote => true, :method => :get, :class => "data_search") do %>
		<div class='column right'>
			<div class='columns wat-cf'>
				<input class="search_submit" type="submit" value="" />
				<input class="search_box" id="search" name="search" type="text" value="<%= params[:search] %>" />
			</div>
		</div>
		<% end %>
		<br />
		<div class='wat-cf'></div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
