<p id="notice"><%= notice %></p>

<p>
  <b>Cod objeto:</b>
  <%= @mrj.cod_objeto %>
</p>

<p>
  <b>Num mesa:</b>
  <%= @mrj.num_mesa %>
</p>

<p>
  <b>Cod objeto zona:</b>
  <%= @mrj.cod_objeto_zona %>
</p>

<p>
  <b>Cod objeto municipio:</b>
  <%= @mrj.cod_objeto_municipio %>
</p>

<p>
  <b>Cod objeto dat eleicao:</b>
  <%= @mrj.cod_objeto_dat_eleicao %>
</p>

<p>
  <b>Des endereco:</b>
  <%= @mrj.des_endereco %>
</p>

<p>
  <b>Des observacao:</b>
  <%= @mrj.des_observacao %>
</p>

<p>
  <b>Nom local:</b>
  <%= @mrj.nom_local %>
</p>

<p>
  <b>Dat criacao:</b>
  <%= @mrj.dat_criacao %>
</p>

<p>
  <b>Tip mrj:</b>
  <%= @mrj.tip_mrj %>
</p>


<%= link_to 'Edit', edit_mrj_path(@mrj) %> |
<%= link_to 'Back', mrjs_path %>
