<h1>Listando Locais de Votação</h1>

<% i = 1 %>

<table>
  <tr>
    <th>#</th>
    <th>Numero</th>
    <th>Município</th>
    <th>Zona</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= i %></td>
    <td><%= place.numero %></td>
    <td><%= place.nome_municipio %></td>
    <td><%= place.numero_zona %></td>
    <td><%= link_to 'Mostrar', place %></td>
  </tr>
  
  <% i = i + 1 %>
<% end %>
</table>

<br />

