<h1>Listando Locais de Votação</h1>

<table>
  <tr>
    <th>#</th>
    <th>Numero</th>
    <th>Município</th>
    <th>Zona</th>
    <th>Vistorias</th>
    <th>Situacao</th>
    <th></th>
  </tr>

<% @places.each_with_index do |place, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= place.numero %></td>
    <td><%= place.city.nome %></td>
    <td><%= place.zone.nome %></td>
    <td><% place.vistorias.each do |v| %>
    <%= v.id_vistoria %>, 
    <% end %>
    </td>
    <td><%= place.descricao_situacao %></td>
    <td><%= link_to 'Mostrar', place %></td>
  </tr>
<% end %>
</table>

<br />

