<p id="notice"><%= notice %></p>

<p>
  <h3>Local de Votação</h3>
  
   Número: <strong><%= @place.numero %></strong> / <%= @place.nome_municipio %>-MT / <%= @place.numero_zona %>ª ZE
</p>

<%= link_to 'Voltar', places_path %>
