<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @place.numero %>
</p>

<p>
  <b>Cad:</b>
  <%= @place.cad_id %>
</p>

<p>
  <b>City:</b>
  <%= @place.city_id %>
</p>

<p>
  <b>Sincronizacao:</b>
  <%= @place.sincronizacao %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
