<p id="notice"><%= notice %></p>

<p>
  <h3>Local de Votação</h3>
  
   Número: <strong><%= @place.numero %></strong> / <%= @place.city.nome %>-MT / <%= @place.zone.nome %>
</p>

<%= link_to 'Voltar', places_path %>
