<!DOCTYPE html>
<html>
<head>
  <title><%= t("application_name", :default => "Organizer") %></title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" %>
  <%= stylesheet_link_tag "ui-icons" %>
  <% javascript_tag do %>
    <%= yield :javascript %>
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="box">
      <%= yield %>
    </div>
  </div>
</body>
</html>
